@use './partials/common';
@use './partials/navbar';

:root {
    --chat-frame: rgb(82, 102, 204);
    --message-box: #FFF;
    --message-odd: rgb(222, 225, 233);
    --message-even:  rgb(244, 246, 250);
    --chat-accent: rgb(58, 107, 213);
    --message-inputs: #DDD;
    --message-input: #FFF;
    --message-text: #000;
}

body.nightmode {
    --chat-frame: rgb(42 45 58);
    --message-box: #333840;
    --message-odd: rgb(67 72 86);
    --message-even:  rgb(47 51 58);
    --chat-accent: rgb(58, 107, 213);
    --message-inputs: #252d3c;
    --message-text: #DDD;
    --message-input: #DDD;
}

#room-name {
    font-weight: 600;
    cursor: pointer;
    display: inline-block;
}

#room-name:hover {
    text-decoration: underline;
}

#copy-icon {
    margin-top: -15px;
    font-size: 11px;
    transform: translateY(-6px);
}

.chat {
    width: 650px;
    height: 700px;
    box-shadow: 1px 0 4px 0 #000;
    margin: auto;
    font-family: 'Work Sans';

    &__room-name {
        width: 100%;
        height: 50px;
        padding: 15px;
        background-color: var(--chat-frame);
        color: #FFF;
        box-sizing: border-box;

        p {
            background-color: inherit;
        }
    }

    &__message-box {
        width: 100%;
        overflow-y: scroll;
        height: 570px;
        background-color: var(--message-box);

        &__message:nth-child(odd) {
            background-color:var(--message-odd);
        }
        
        &__message:nth-child(even) {
            background-color:var(--message-even);
        }

        &__message {
            min-height: 40px;
            padding: 20px 15px;
            box-sizing: border-box;
            position: relative;
            color: var(--message-text);

            &__username, &__content {
                display: inline;
                background: inherit;
            }

            &__content {
                word-wrap: break-word;
            }

            &__username {
                font-weight: 700;
            }

            &__username::after {
                content: ': ';
            }

            &__date {
                font-size: 12px;
                color: var(--message-text);
                background-color: inherit;
                margin-left: auto;
                position: absolute;
                top: 5px;
                right: 15px;
            }
        }
        
    }

    &__inputs {
        height: 80px;
        width: 100%;
        background-color: var(--message-inputs);
        padding: 15px;
        box-sizing: border-box;

        input {
            width: 75%;
            font-size: 16px;
            padding: 8px;
            background: var(--message-input);
        }

        button {
            display: inline-block;
            width: 20%;
            padding: 11px 0;
            background-color:rgb(58, 107, 213);
            color: #FFF;
            border: none;
            border-radius: 3px;
            font-weight: 500;
        }

        button:hover {
            cursor: pointer;
            background-color:rgb(70, 121, 233);
        }
    }
}

