@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;700&display=swap');

@font-face {
    font-family: 'Lobster';
    src: url('http://localhost:3000/assets/Lobster-Regular.ttf') format('ttf');
}

body, p {
    margin: 0;
    padding: 0;
    background-color: #CCC;
}

.wrapper {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    font-family: "Lobster";
    font-size: 96px;
  }
  
  .description {
    font-size: 28px;
    font-family: "Work Sans";
    background: inherit;
  }
  
  .btn {
    margin-top: 40px;
    font-family: "Work Sans";
    border: none;
    border-radius: 4px;
    padding: 20px 65px;
    background-color: rgb(65, 118, 209);
    color: #FFF;
    font-size: 24px;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: rgb(123, 159, 221);
  }

.chat {
    width: 650px;
    height: 700px;
    box-shadow: 1px 0 4px 0 #000;
    margin: auto;
    font-family: 'Work Sans';

    &__room-name {
        width: 100%;
        height: 50px;
        padding: 15px;
        background-color: rgb(82, 102, 204);
        color: #FFF;
        box-sizing: border-box;

        p {
            background-color: inherit;
        }
    }

    &__message-box {
        width: 100%;
        overflow-y: scroll;
        height: 570px;
        background-color: #FFF;

        &__message:nth-child(odd) {
            background-color:rgb(222, 225, 233);
        }
        
        &__message:nth-child(even) {
            background-color:rgb(244, 246, 250);
        }

        &__message {
            min-height: 40px;
            padding: 20px 15px;
            box-sizing: border-box;

            &__username, &__content {
                display: inline;
                background: inherit;
            }

            &__content {
                word-wrap: break-word;
            }

            &__username {
                font-weight: 700;
            }

            &__username::after {
                content: ': ';
            }
        }
        
    }

    &__inputs {
        height: 80px;
        width: 100%;
        background-color: #DDD;
        padding: 15px;
        box-sizing: border-box;

        input {
            width: 75%;
            font-size: 16px;
            padding: 8px;
        }

        button {
            display: inline-block;
            width: 20%;
            padding: 11px 0;
            background-color:rgb(93, 131, 213);
            color: #FFF;
            border: none;
            border-radius: 3px;
            font-weight: 500;
        }

        button:hover {
            cursor: pointer;
            background-color:rgb(130, 159, 222);
        }
    }
}

