@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;700&display=swap');

body, p {
    margin: 0;
    padding: 0;
    background-color: #CCC;
}

.wrapper {
    padding: 150px;
}

.chat {
    width: 650px;
    height: 700px;
    box-shadow: 1px 0 4px 0 #000;
    margin: auto;
    font-family: 'Work Sans';

    &__room-name {
        width: 100%;
        height: 50px;
        padding: 15px;
        background-color: rgb(82, 102, 204);
        color: #FFF;
        box-sizing: border-box;

        p {
            background-color: inherit;
        }
    }

    &__message-box {
        width: 100%;
        overflow-y: scroll;
        height: 570px;
        background-color: #FFF;

        &__message:nth-child(odd) {
            background-color:rgb(222, 225, 233);
        }
        
        &__message:nth-child(even) {
            background-color:rgb(244, 246, 250);
        }

        &__message {
            min-height: 40px;
            padding: 20px 15px;
            box-sizing: border-box;

            &__username, &__content {
                display: inline;
                background: inherit;
            }

            &__username {
                font-weight: 700;
            }
        }
        
    }

    &__inputs {
        height: 80px;
        width: 100%;
        background-color: #DDD;
        padding: 15px;
        box-sizing: border-box;

        input {
            width: 75%;
            font-size: 16px;
            padding: 8px;
        }

        button {
            display: inline-block;
            width: 20%;
            padding: 11px 0;
            background-color:rgb(93, 131, 213);
            color: #FFF;
            border: none;
            border-radius: 3px;
            font-weight: 500;

        }
    }
}

