@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;700&display=swap");
body, p {
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #EFEFEF;
  --accent-color: rgb(47, 50, 53);
  --accent-contrast-color: #888;
}

body {
  background-color: var(--primary-color);
}

.wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nightmode {
  --primary-color: rgb(33, 37, 41);
  --secondary-color: rgb(47, 50, 53);
  --accent-color: rgb(223, 223, 223);
  --accent-contrast-color: #000;
}

.navbar {
  width: 100vw;
  height: 80px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  top: 0;
}
.navbar__item {
  margin-right: 35px;
}
#nightmode {
  width: 60px;
  height: 20px;
}
#nightmode label {
  display: inline-block;
  width: 50px;
  height: 20px;
  background-color: #FFF;
  border-radius: 10px;
  box-shadow: inset 0 0 9px 0 #DDD, 0 0 3px 0 #555;
  position: relative;
  transition: background 0.1s ease-in-out;
  cursor: pointer;
}
#nightmode label::before {
  content: "";
  width: 16px;
  height: 16px;
  position: absolute;
  left: 6px;
  top: 2px;
  display: block;
  background-color: #EEE;
  box-shadow: 0 0 3px 0 #000;
  border-radius: 50%;
  transition: left 0.3s ease-in-out;
}
#nightmode input:checked + label::before {
  left: 28px;
}
#nightmode input[type=checkbox] {
  display: none;
}
#nightmode input:checked + label {
  background-color: #000;
  box-shadow: inset 0 0 9px 0 rgb(84, 84, 84), 0 0 3px 0 rgb(23, 22, 22);
}

:root {
  --chat-frame: rgb(82, 102, 204);
  --message-box: #FFF;
  --message-odd: rgb(222, 225, 233);
  --message-even: rgb(244, 246, 250);
  --chat-accent: rgb(58, 107, 213);
  --message-inputs: #DDD;
  --message-input: #FFF;
  --message-text: #000;
}

body.nightmode {
  --chat-frame: rgb(42 45 58);
  --message-box: #333840;
  --message-odd: rgb(67 72 86);
  --message-even: rgb(47 51 58);
  --chat-accent: rgb(58, 107, 213);
  --message-inputs: #252d3c;
  --message-text: #DDD;
  --message-input: #DDD;
}

#room-name {
  font-weight: 600;
  cursor: pointer;
  display: inline-block;
}

#room-name:hover {
  text-decoration: underline;
}

#copy-icon {
  margin-top: -15px;
  font-size: 11px;
  transform: translateY(-6px);
}

.chat {
  width: 650px;
  height: 700px;
  box-shadow: 1px 0 4px 0 #000;
  margin: auto;
  font-family: "Work Sans";
}
.chat__room-name {
  width: 100%;
  height: 50px;
  padding: 15px;
  background-color: var(--chat-frame);
  color: #FFF;
  box-sizing: border-box;
}
.chat__room-name p {
  background-color: inherit;
}
.chat__message-box {
  width: 100%;
  overflow-y: scroll;
  height: 570px;
  background-color: var(--message-box);
}
.chat__message-box__message:nth-child(odd) {
  background-color: var(--message-odd);
}
.chat__message-box__message:nth-child(even) {
  background-color: var(--message-even);
}
.chat__message-box__message {
  min-height: 40px;
  padding: 20px 15px;
  box-sizing: border-box;
  position: relative;
  color: var(--message-text);
}
.chat__message-box__message__username, .chat__message-box__message__content {
  display: inline;
  background: inherit;
}
.chat__message-box__message__content {
  word-wrap: break-word;
}
.chat__message-box__message__username {
  font-weight: 700;
}
.chat__message-box__message__username::after {
  content: ": ";
}
.chat__message-box__message__date {
  font-size: 12px;
  color: var(--message-text);
  background-color: inherit;
  margin-left: auto;
  position: absolute;
  top: 5px;
  right: 15px;
}
.chat__inputs {
  height: 80px;
  width: 100%;
  background-color: var(--message-inputs);
  padding: 15px;
  box-sizing: border-box;
}
.chat__inputs input {
  width: 75%;
  font-size: 16px;
  padding: 8px;
  background: var(--message-input);
}
.chat__inputs button {
  display: inline-block;
  width: 20%;
  padding: 11px 0;
  background-color: rgb(58, 107, 213);
  color: #FFF;
  border: none;
  border-radius: 3px;
  font-weight: 500;
}
.chat__inputs button:hover {
  cursor: pointer;
  background-color: rgb(70, 121, 233);
}

/*# sourceMappingURL=style.css.map */
